<!DOCTYPE html>
<html>

<head >
    <title>Software Textil</title>
    <link href='css/bootstrap.min.css' rel='stylesheet'>
    <link href='css/main.css' rel='css/Stylesheet'>
    <link rel="stylesheet" href="css/stylesheet.css">
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="jquery-3.0.0.js"></script>
    <script src="http://code.jquery.com/jquery-1.8.2.js"></script>
    <script src="http://code.jquery.com/ui/1.9.1/jquery-ui.js"></script>
    <script src="products.js"></script>
</head>

<body>
    <div ng-app="products">
  <div class='navbar navbar-default navbar-static-top'>
    <div class='container'>
      <a href='index.html' class='navbar-brand'>
        <img src="Pictures/logo.png">
      </a>
      <ul class='nav navbar-nav navbar-right'>
        <li><a href='tickets.html'>Products</a>
        </li>
        <li><a data-toggle="modal" data-target="#myModal">Contact</a>
        </li>
        <li><a data-toggle="modal" data-target="#aboutModal">About</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="container" ng-controller="TabController">
    <h3>Vertical Pills</h3>
    <div class="col-md-3">
      <ul class="nav nav-pills nav-stacked">
        <li class="productTabs" ng-class="{active:selectedTab == 1}"><a ng-click="setTab(1)">Towels</a>
        </li>
        <li class="productTabs" ng-class="{active:selectedTab == 2}"><a ng-click="setTab(2)">Sheets</a>
        </li>
        <li class="productTabs" ng-class="{active:selectedTab == 3}"><a ng-click="setTab(3)">Clothes</a>
        </li>
      </ul>
    </div>
    <div class="row">
      <div class="col-md-3" ng-show="selectedTab == 1">
        <h4>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </h4>
      </div>
      <div class="col-md-3" id="sheets" ng-show="selectedTab == 2">
        <h4>
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </h4>
      </div>
      <div class="col-md-3" id="clothes" ng-show="selectedTab == 3">
        <h4>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
            </h4>
      </div>
      <div class="clearfix visible-lg"></div>
    </div>
  </div>
  <div>
</body>

</html>
